#autocrud table {
    border-collapse: separate;
    border-spacing: 1px;
    empty-cells: show;
    text-align: left;
    vertical-align: top;
}

#autocrud th, #autocrud td {
    padding: 3px 8px;
}

#autocrud th {
    background: #999999;
    border: 1px solid #AAAAAA;
    color: #EEEEEE;
}

#autocrud td {
    border: 1px solid #DDDDDD;
}

#autocrud table textarea {
    min-width: 30em;
    min-height: 10em;
}

#autocrud table input[type="text"] {
    max-width: 30em;
}

#autocrud .autocrud-listing td span.autocrud-cellwrapper {
    display: inline-block;
    max-height: 10em;
    overflow: hidden;
}

#autocrud .autocrud-pagination {
    clear: both;
    list-style-type: none;
    padding: 0;
}

#autocrud .autocrud-pagination li {
    list-style-type: none;
    float: left;
    padding: 5px;
}

.autocrud-col-sorting-icons {
    font-size: 0.75em;
    min-width: 5.5em;
}

.autocrud-form {
}

.autocrud-button {
    border: 1px solid #CCCCCC;
    background: #EEEEEE;
    cursor: pointer;
    margin: 0.2em;
    padding: 0.2em;
}

.autocrud-button-create {
}

.autocrud-button-view-all {
}

.autocrud-button-update {
}

.autocrud-button-delete {
}

.autocrud-saved {
    clear: left;
    display: inline-block;
    padding: 0.5em;
    margin: 0.5em 0;
}
